:root {
  --font-body: "Josefin Sans", serif;
  --font-headline: "Nerko One", serif;
  /* colors */
  --primary-color: #1C1F33;
  --secondary-color: #3891A6;
  --tertiary-color: #D72638;
  --accent-color1: #689689;
  --accent-color2: #FF8906;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--primary-color);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 300px;
  overflow: hidden;
  display: flex;
  font-size: 40px;
  text-align: right;
  font-family: var(--font-headline);
  font-weight: bold;
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  display: flex;
  text-decoration: none;
  padding-left: 0.3em;
  color: var(--tertiary-color);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--primary-color);
}

button {
  padding: 0.5em 1em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  border-radius: 1em;
  font-family: var(--font-body);
  font-size: var(--font-base);
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-color2);
  color: var(--primary-color);
}

.divider {
  border-bottom: 2px solid var(--tertiary-color);
}
/* End utility classes */

/* Favorite List icon styles */
.favorite-list {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.favorite-list svg {
  width: 40px;
  fill: var(--primary-color);
}
.favorite-list:hover svg {
  fill: var(--accent-color1);
}

.favorites-animation {
  animation: favorites-animation 1s ease;
}

@keyframes favorites-animation {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#counter {
  position: absolute;
  top: 20%;
  right: 0;

  font-size: var(--small-font);
  font-weight: bold;

  background-color: var(--tertiary-color);
  color: white;

  padding: 0.0425rem 0.125rem;
  border-radius: 0.5rem;
}

.hide {
  display: none;
}

/* End Favorite List icon styles */

#search-form {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

#search-input {
  padding: 0.5em 1em;
  margin: 1em 1em;
  border-radius: 0.5em;
  font-family: var(--font-body);
  font-size: var(--large-font);
  background-color: white;
}

.songs {
  padding: 0.5em;
}
.song-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.song-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.song-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--accent-color1);
  border-radius: 1em;
  max-width: 250px;
}
.song-card h2,
.song-card h3,
.song-card ul {
  margin: 0.5em 0;
}

.card__name {
  font-size: 1em;
}

.card__streamcount,
.card__duration,
.card__tracknumber,
.card__albumname,
.card__releasedate,
.card__artists {
  font-size: var(--small-font);
}

/* End product list card */

/* Album detail page styles */

.ad-section {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.ad-img {
  margin: auto;
  max-height: 500px;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
